Repository Alvareitor48/asana: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ext .js,.jsx, prettier --write --log-level warn, php -l

feat(project): first desing of a project table
  resources/js/modules/home/pages/Home.jsx
  resources/js/modules/projects_and_tasks/components/Tbody.jsx
  resources/js/modules/projects_and_tasks/components/Thead.jsx
  resources/js/modules/projects_and_tasks/pages/Project.jsx
Due: eslint --fix --ext .js,.jsx

feat(project): basic modal strcuture
  resources/js/hooks/useOutsideClick.jsx
  resources/js/shared/components/Modal.jsx
  resources/views/app.blade.php
Due: eslint --fix --ext .js,.jsx

feat(TaskModal): first desing of a TaskModal
  resources/js/modules/projects_and_tasks/components/Tbody.jsx
  resources/js/modules/projects_and_tasks/pages/Project.jsx
Due: eslint --fix --ext .js,.jsx

refac(section): add id to the request, change status task to boolean type
  app/Http/Resources/ProjectShowResource.php
  database/migrations/2025_03_06_180834_create_tasks_table.php
  database/seeders/TaskSeeder.php
Due: none

reactt(Project): change section visualize
  resources/js/modules/projects_and_tasks/components/Tbody.jsx
  resources/js/modules/projects_and_tasks/components/Thead.jsx
  resources/js/modules/projects_and_tasks/pages/Project.jsx
Due: eslint --fix --ext .js,.jsx

feat(resource): add assigned_to to project tasks resource
  app/Http/Resources/ProjectShowResource.php
Due: none

feat(modal and sections): Modal responsables and sections selects updated and fix section id and name on Tbody
  app/Http/Middleware/HandleInertiaRequests.php
  resources/js/modules/projects_and_tasks/components/Tbody.jsx
  resources/js/modules/projects_and_tasks/pages/Project.jsx
Due: eslint --fix --ext .js,.jsx

feat(proyect): created button and modal to add new project
  resources/js/modules/projects_and_tasks/components/Tbody.jsx
  resources/js/modules/projects_and_tasks/pages/Project.jsx
  resources/js/shared/layouts/AuthLayout.jsx
Due: eslint --fix --ext .js,.jsx

feat(Task): edit task modal created
  resources/js/modules/projects_and_tasks/components/Tbody.jsx
Due: eslint --fix --ext .js,.jsx

feat(project store): logic to project create button added
  app/Http/Controllers/ProjectController.php
  resources/js/shared/layouts/AuthLayout.jsx
Due: eslint --fix --ext .js,.jsx

feat(task create): Task created logic added
  app/Http/Controllers/TaskController.php
  resources/js/modules/projects_and_tasks/components/Tbody.jsx
  resources/js/modules/projects_and_tasks/pages/Project.jsx
  routes/web.php
Due: eslint --fix --ext .js,.jsx

feat(project): add color_icon to project fields
  app/Http/Resources/IndexProjectsResource.php
  app/Models/Project.php
  database/migrations/2025_03_06_180219_create_projects_table.php
  resources/js/modules/home/pages/Home.jsx
  resources/js/shared/layouts/AuthLayout.jsx
Due: eslint --fix --ext .js,.jsx

feat(websockets): first conection with websockets created
  app/Events/ProjectCreated.php
  app/Http/Controllers/ProjectController.php
  composer.json
  composer.lock
  config/broadcasting.php
  package-lock.json
  package.json
  resources/js/modules/home/pages/Home.jsx
  resources/js/utils/echo.js
Due: eslint --fix --ext .js,.jsx, prettier --write --log-level warn

refactor(webshocket): Update conection to not share sensible information on the vite varibles
  app/Http/Middleware/HandleInertiaRequests.php
  config/app.php
  resources/js/modules/home/components/HomeComponent.jsx
  resources/js/modules/home/pages/Home.jsx
  resources/js/shared/contexts/PusherContext.jsx
  resources/js/utils/echo.js
Due: eslint --fix --ext .js,.jsx

refactor(pusher): context removed to simplify code
  resources/js/modules/home/components/HomeComponent.jsx
  resources/js/modules/home/pages/Home.jsx
  resources/js/shared/contexts/PusherContext.jsx
Due: eslint --fix --ext .js,.jsx

feat(auth): add scrollable container for project list and improve scrollbar styles
  resources/css/app.css
  resources/js/shared/layouts/AuthLayout.jsx
Due: eslint --fix --ext .js,.jsx, prettier --write --log-level warn

feat(project): add ProjectModal component for project creation
  resources/js/shared/components/ProjectModal.jsx
  resources/js/shared/layouts/AuthLayout.jsx
Due: eslint --fix --ext .js,.jsx

feat(websocket): websocket added to project created
  app/Events/TaskUpdated.php
  app/Http/Controllers/TaskController.php
  resources/js/modules/projects_and_tasks/components/Tbody.jsx
Due: eslint --fix --ext .js,.jsx

fix(task): fix error that occurred when yo create a task
  app/Http/Controllers/TaskController.php
Due: none

feat(websocket): websocket added to section created
  app/Events/SectionUpdated.php
  app/Http/Controllers/SectionController.php
  resources/js/modules/projects_and_tasks/components/Tbody.jsx
Due: eslint --fix --ext .js,.jsx

feat(project): add color_icon field and color picker to project creation
  app/Http/Controllers/ProjectController.php
  composer.lock
  database/factories/ProjectFactory.php
  resources/js/modules/home/pages/Home.jsx
  resources/js/modules/projects_and_tasks/components/Tbody.jsx
  resources/js/shared/components/ProjectModal.jsx
Due: eslint --fix --ext .js,.jsx

feat(project): add color picker functionality to project modal
  resources/js/lib/utils.js
  resources/js/shared/components/ProjectModal.jsx
Due: eslint --fix --ext .js,.jsx

feat(auth): implement real-time project updates using Pusher
  resources/js/shared/layouts/AuthLayout.jsx
Due: eslint --fix --ext .js,.jsx

feat(project): add project deletion functionality with confirmation modal
  app/Http/Controllers/ProjectController.php
  resources/js/modules/projects_and_tasks/components/DeleteProjectModal.jsx
  resources/js/modules/projects_and_tasks/pages/Project.jsx
  resources/js/shared/components/Modal.jsx
  routes/web.php
Due: eslint --fix --ext .js,.jsx

feat(home): update project card navigation to use links and fix color icon display
  resources/js/modules/home/pages/Home.jsx
Due: eslint --fix --ext .js,.jsx

feat(task update): task updated logic added successfully
  app/Http/Controllers/TaskController.php
  app/Http/Resources/ProjectShowResource.php
  app/Http/Resources/TaskResource.php
  app/Models/Task.php
  resources/js/modules/projects_and_tasks/components/Tbody.jsx
Due: eslint --fix --ext .js,.jsx

fix(task_updated): fix id in task resource
  app/Http/Resources/TaskResource.php
Due: none

fix(task_updated): fix id into websocket adding resource to the event
  app/Events/TaskUpdated.php
Due: none

feat(EditTask): agregar componente para editar tareas y actualizar dependencias
  composer.lock
  resources/js/modules/home/pages/Home.jsx
  resources/js/modules/projects_and_tasks/components/EditTask.jsx
  resources/js/modules/projects_and_tasks/components/Tbody.jsx
Due: eslint --fix --ext .js,.jsx

feat(Tbody): add date format to task
  resources/js/lib/utils.js
  resources/js/modules/projects_and_tasks/components/Tbody.jsx
Due: eslint --fix --ext .js,.jsx

feat(EditTask): add field description to the task
  app/Http/Controllers/TaskController.php
  resources/js/modules/auth/components/TextInput.jsx
  resources/js/modules/projects_and_tasks/components/EditTask.jsx
  resources/js/modules/projects_and_tasks/components/Tbody.jsx
Due: eslint --fix --ext .js,.jsx

feat(seeders): seeders for filters created
  app/Models/Filter.php
  app/Models/Task.php
  app/Models/TaskFilter.php
  database/migrations/2025_03_06_180834_create_tasks_table.php
  database/migrations/2025_03_06_181839_create_filters_table.php
  database/migrations/2025_03_06_183223_create_task_filters_table.php
  database/seeders/DatabaseSeeder.php
  database/seeders/FilterSeeder.php
  database/seeders/TaskSeeder.php
Due: none

feat(project delete): Check if you are the project owner prop added and used it on the front to show the remove project button
  app/Http/Middleware/HandleInertiaRequests.php
  resources/js/modules/projects_and_tasks/pages/Project.jsx
Due: eslint --fix --ext .js,.jsx

fix(sections): fix an error occurred during collapsed sections because it was based on the name and now its based on the id
  resources/js/modules/projects_and_tasks/components/Tbody.jsx
  resources/js/modules/projects_and_tasks/pages/Project.jsx
Due: eslint --fix --ext .js,.jsx

feat(websocket): private channel added to show projects created on the nav for users that are members of a project
  app/Events/ProjectCreated.php
  app/Http/Controllers/ProjectController.php
  app/Models/Project.php
  app/Models/User.php
  app/Providers/BroadcastServiceProvider.php
  bootstrap/providers.php
  resources/js/shared/layouts/AuthLayout.jsx
  routes/web.php
Due: eslint --fix --ext .js,.jsx

feat(AuthLayout): add color_icon field to form and clean up console logs
  resources/js/modules/projects_and_tasks/pages/Project.jsx
  resources/js/shared/layouts/AuthLayout.jsx
Due: eslint --fix --ext .js,.jsx

feat(filters): Filters information set on the inertia request and on the resource
  app/Http/Controllers/ProjectController.php
  app/Http/Middleware/HandleInertiaRequests.php
  app/Http/Resources/FilterResource.php
  app/Http/Resources/ProjectShowResource.php
  app/Models/Filter.php
  app/Models/Task.php
Due: none

feat(avatar): add AvatarDropdown component for user profile actions
  resources/js/Components/AvatarDropdown.jsx
  resources/js/shared/components/Header.jsx
Due: eslint --fix --ext .js,.jsx

feat(avatar): refactor Avatar component and add AvatarDropdown for user profile actions
  resources/js/modules/home/pages/Home.jsx
  resources/js/shared/components/Avatar.jsx
  resources/js/shared/components/AvatarDropdown.jsx
  resources/js/shared/components/Header.jsx
Due: eslint --fix --ext .js,.jsx

feat(avatar): update AvatarDropdown styles for improved visibility and user experience
  resources/js/shared/components/AvatarDropdown.jsx
Due: eslint --fix --ext .js,.jsx

Path conditions:
  eslint --fix --ext .js,.jsx: any of: *.{js,jsx}
  prettier --write --log-level warn: any of: *.{json,css,scss,md,html}
  php -l: any of:  *.php'
