Repository Alvareitor48/asana: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ext .js,.jsx, prettier --write --log-level warn, php -l

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --fix --ext .js,.jsx"],
  "*.{json,css,scss,md,html}": ["prettier --write --log-level warn"],
  " *.php'": ["php -l"]
}

fix(cast error): fix json decode cast error to show the information on the front
  app/Http/Resources/ProjectShowResource.php
Due: none

feat(tables): add filters to Tbody and Thead components for enhanced data display
  resources/js/modules/projects_and_tasks/components/Tbody.jsx
  resources/js/modules/projects_and_tasks/components/Thead.jsx
  resources/js/modules/projects_and_tasks/pages/Project.jsx
Due: eslint --fix --ext .js,.jsx

refactor(resource): filter name and type added to the task
  app/Http/Resources/ProjectShowResource.php
Due: none

feat(filters): implement formatFilterValue function for dynamic filter display in Tbody
  resources/js/lib/filterDetail.jsx
  resources/js/modules/projects_and_tasks/components/Tbody.jsx
  resources/js/modules/projects_and_tasks/components/Thead.jsx
  resources/js/modules/projects_and_tasks/pages/Project.jsx
Due: eslint --fix --ext .js,.jsx

fix(filters): add null checks for task values in formatFilterValue function and update Tbody and Thead components for better filter handling
  resources/js/lib/filterDetail.jsx
  resources/js/modules/projects_and_tasks/components/Tbody.jsx
  resources/js/modules/projects_and_tasks/components/Thead.jsx
Due: eslint --fix --ext .js,.jsx

feat(filters): add logic so that when you create a task or a filter it will automatically assigned to the tasks relationship or to the filters relationship
  app/Http/Controllers/TaskController.php
  app/Http/Resources/TaskResource.php
  database/seeders/FilterSeeder.php
  database/seeders/TaskSeeder.php
Due: none

feat(update filter): update filter for a task logic added and added filter view on the task too
  app/Http/Controllers/TaskController.php
  resources/js/modules/projects_and_tasks/components/EditTask.jsx
  resources/js/modules/projects_and_tasks/components/Tbody.jsx
Due: eslint --fix --ext .js,.jsx

feat(filter): filter CRUD made, need to implements websockets too
  app/Http/Controllers/FilterController.php
Due: none

refactor(names): refactor filter names and types
  app/Http/Controllers/FilterController.php
  database/seeders/FilterSeeder.php
  resources/js/lib/filterDetail.jsx
  resources/js/modules/projects_and_tasks/components/EditTask.jsx
Due: eslint --fix --ext .js,.jsx

refactor(table): update header for delivery date to improve responsiveness
  resources/js/modules/projects_and_tasks/components/Thead.jsx
Due: eslint --fix --ext .js,.jsx

fix(refirect): fix dashboard redirect error
  routes/web.php
Due: none

feat(project): add edit project modal and functionality
  resources/js/modules/projects_and_tasks/pages/Project.jsx
  resources/js/shared/components/EditProjectModal.jsx
Due: eslint --fix --ext .js,.jsx

fix(redirect): fix redirection error when you redirect home
  app/Http/Controllers/Auth/AuthenticatedSessionController.php
  app/Http/Controllers/Auth/ConfirmablePasswordController.php
  app/Http/Controllers/Auth/EmailVerificationNotificationController.php
  app/Http/Controllers/Auth/EmailVerificationPromptController.php
  app/Http/Controllers/Auth/RegisteredUserController.php
  app/Http/Controllers/Auth/VerifyEmailController.php
Due: none

fix(returns): fix returns errors in redirects
  app/Http/Controllers/Auth/AuthenticatedSessionController.php
  app/Http/Controllers/Auth/ConfirmablePasswordController.php
  app/Http/Controllers/Auth/EmailVerificationNotificationController.php
  app/Http/Controllers/Auth/EmailVerificationPromptController.php
  app/Http/Controllers/Auth/RegisteredUserController.php
  app/Http/Controllers/Auth/VerifyEmailController.php
Due: none

style(scrollbar): mejorar estilos de barra de desplazamiento y ajustar diseño en EditTask
  resources/css/app.css
  resources/js/modules/projects_and_tasks/components/EditTask.jsx
Due: eslint --fix --ext .js,.jsx, prettier --write --log-level warn

feat(Task): refactor tarea en Tbody y crear componente Task para mejorar la gestión de tareas
  resources/js/modules/projects_and_tasks/components/Task.jsx
  resources/js/modules/projects_and_tasks/components/TaskContextMenu.jsx
  resources/js/modules/projects_and_tasks/components/Tbody.jsx
Due: eslint --fix --ext .js,.jsx

fix(position): fix position error on the edit menu
  resources/js/modules/projects_and_tasks/components/Task.jsx
Due: eslint --fix --ext .js,.jsx

style(Project): ajustar clases de estilo en el componente Project
  resources/js/modules/projects_and_tasks/pages/Project.jsx
Due: eslint --fix --ext .js,.jsx

feat(TaskContextMenu): logic to delete a task
  resources/js/modules/projects_and_tasks/components/Task.jsx
  resources/js/modules/projects_and_tasks/components/TaskContextMenu.jsx
  resources/js/modules/projects_and_tasks/components/Tbody.jsx
Due: eslint --fix --ext .js,.jsx

feat(TaskContextMenu): add open modal in ContextOptions
  resources/js/modules/projects_and_tasks/components/Task.jsx
  resources/js/modules/projects_and_tasks/components/TaskContextMenu.jsx
Due: eslint --fix --ext .js,.jsx

refactor(Task): improved Project view
  resources/js/lib/filterDetail.jsx
  resources/js/modules/projects_and_tasks/components/Task.jsx
  resources/js/modules/projects_and_tasks/components/Tbody.jsx
  resources/js/modules/projects_and_tasks/components/Thead.jsx
  resources/js/modules/projects_and_tasks/pages/Project.jsx
Due: eslint --fix --ext .js,.jsx

feat(Project): Project Icon open modal edit also
  resources/js/modules/projects_and_tasks/pages/Project.jsx
Due: eslint --fix --ext .js,.jsx

feat(project): edit project logic created and connected with the frontend
  app/Http/Controllers/ProjectController.php
  resources/js/modules/projects_and_tasks/components/EditProjectModal.jsx
  resources/js/modules/projects_and_tasks/pages/Project.jsx
  routes/web.php
Due: eslint --fix --ext .js,.jsx

feat(delete task): Logic to remove a task added and connected with the frontend
  app/Events/TaskDeleted.php
  app/Http/Controllers/TaskController.php
  resources/js/modules/projects_and_tasks/components/EditTask.jsx
  resources/js/modules/projects_and_tasks/components/TaskContextMenu.jsx
  resources/js/modules/projects_and_tasks/components/Tbody.jsx
Due: eslint --fix --ext .js,.jsx

feat(context menu): Implement custom context menu hook and integrate with Task component
  resources/js/hooks/useContextMenu.jsx
  resources/js/modules/projects_and_tasks/components/Task.jsx
Due: eslint --fix --ext .js,.jsx

feat(filter): Add context menu for filter deletion and update destroy logic
  app/Http/Controllers/FilterController.php
  resources/js/modules/projects_and_tasks/components/FilterContextMenu.jsx
  resources/js/modules/projects_and_tasks/components/Thead.jsx
  resources/js/modules/projects_and_tasks/pages/Project.jsx
  routes/web.php
Due: eslint --fix --ext .js,.jsx

feat(context menu): Add section context menu for section deletion functionality
  resources/js/modules/projects_and_tasks/components/SectionContextMenu.jsx
  resources/js/modules/projects_and_tasks/components/Tbody.jsx
  resources/js/modules/projects_and_tasks/components/Thead.jsx
Due: eslint --fix --ext .js,.jsx

feat(filter): Implement filter creation modal and integrate with table header
  resources/js/modules/projects_and_tasks/components/Thead.jsx
  resources/js/shared/components/FilterModal.jsx
  routes/web.php
Due: eslint --fix --ext .js,.jsx

feat(add status check): add status button and manage it out of edit task model
  app/Http/Controllers/TaskController.php
  app/Http/Resources/ProjectShowResource.php
  app/Http/Resources/TaskResource.php
  app/Models/Task.php
  resources/js/modules/projects_and_tasks/components/Task.jsx
  resources/js/modules/projects_and_tasks/components/Tbody.jsx
Due: eslint --fix --ext .js,.jsx

feat(task): update task title by input
  resources/js/modules/projects_and_tasks/components/Task.jsx
Due: eslint --fix --ext .js,.jsx

feat(add filter): create new filter correctly, need to remove a filter
  app/Http/Controllers/FilterController.php
  app/Models/Filter.php
  resources/js/modules/projects_and_tasks/components/Thead.jsx
  resources/js/shared/components/FilterModal.jsx
Due: eslint --fix --ext .js,.jsx

fix(filter): fix delete filter manage to update the frontend after delete a filter
  app/Http/Controllers/FilterController.php
  resources/js/modules/projects_and_tasks/components/FilterContextMenu.jsx
Due: eslint --fix --ext .js,.jsx

refactor(filter): refactor filter multiple select to improve the UX
  resources/js/modules/projects_and_tasks/components/EditTask.jsx
Due: eslint --fix --ext .js,.jsx

feat(section): add destroy method to delete a section and update routes
  app/Http/Controllers/SectionController.php
  resources/js/modules/projects_and_tasks/components/Task.jsx
  resources/js/modules/projects_and_tasks/pages/Project.jsx
  routes/web.php
Due: eslint --fix --ext .js,.jsx

feat(task): add handleData and updateTaskInSection to TaskContextMenu for better task management
  resources/js/modules/projects_and_tasks/components/Task.jsx
  resources/js/modules/projects_and_tasks/components/TaskContextMenu.jsx
Due: eslint --fix --ext .js,.jsx

feat(collaborators): add CollaboratorDropdown and CollaboratorsModal for managing project collaborators
  resources/js/modules/projects_and_tasks/components/CollaboratorDropdown.jsx
  resources/js/modules/projects_and_tasks/components/CollaboratorsModal.jsx
  resources/js/modules/projects_and_tasks/pages/Project.jsx
  resources/js/shared/components/Avatar.jsx
Due: eslint --fix --ext .js,.jsx

feat(fake route): fake route create to test
  routes/web.php
Due: none

feat(collaborator): collaborator add and remove logic added
  app/Http/Controllers/CollaboratorController.php
  app/Http/Controllers/ProjectController.php
  app/Http/Controllers/UserController.php
  resources/js/modules/projects_and_tasks/components/CollaboratorDropdown.jsx
  resources/js/modules/projects_and_tasks/components/CollaboratorsModal.jsx
  routes/web.php
Due: eslint --fix --ext .js,.jsx

feat(home): display current date in Spanish format
  resources/js/modules/home/pages/Home.jsx
Due: eslint --fix --ext .js,.jsx
