Repository Alvareitor48/asana: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ext .js,.jsx, prettier --write --log-level warn, php -l

docs(Readme): :memo: created new Readme
  README.md
Due: prettier --write --log-level warn

q
  .vscode/settings.json
  README.md
Due: prettier --write --log-level warn

refactor(directories, layouts): directories refactored and auth layout created
  resources/js/Components/home/Aside.jsx
  resources/js/Components/home/CardNav.jsx
  resources/js/Components/home/Header.jsx
  resources/js/modules/home/pages/Home.jsx
  resources/js/shared/components/CardNav.jsx
  resources/js/shared/components/Header.jsx
  resources/js/shared/components/NavBar.jsx
  resources/js/shared/icons/House.jsx
  resources/js/shared/icons/List.jsx
  resources/js/shared/icons/Notify.jsx
  resources/js/shared/icons/Pen.jsx
  resources/js/shared/layouts/AuthLayout.jsx
Due: eslint --fix --ext .js,.jsx

refactor(layouts): refactor components to make it reusable
  resources/js/shared/components/CardNav.jsx
  resources/js/shared/components/Header.jsx
  resources/js/shared/components/NavBar.jsx
  resources/js/shared/layouts/AuthLayout.jsx
Due: eslint --fix --ext .js,.jsx

feat: add migrations
  database/migrations/0001_01_01_000000_create_users_table.php
  database/migrations/2025_03_06_180219_create_projects_table.php
  database/migrations/2025_03_06_180431_create_sections_table.php
  database/migrations/2025_03_06_180834_create_tasks_table.php
  database/migrations/2025_03_06_181839_create_filters_table.php
  database/migrations/2025_03_06_182045_create_notifications_table.php
  database/migrations/2025_03_06_182311_create_comments_table.php
  database/migrations/2025_03_06_182450_create_messages_table.php
  database/migrations/2025_03_06_182618_create_project_members_table.php
  database/migrations/2025_03_06_182948_create_task_collaborators_table.php
  database/migrations/2025_03_06_183223_create_task_filters_table.php
Due: none

Vercel deploy changes added
  api/index.php
  app/Providers/AppServiceProvider.php
  package.json
  vercel.json
Due: prettier --write --log-level warn

feat(Home): first phase 'user home' view
  .vscode/settings.json
  resources/css/app.css
  resources/js/modules/home/pages/Home.jsx
  resources/js/shared/components/GlassCard.jsx
  resources/js/shared/layouts/AuthLayout.jsx
Due: eslint --fix --ext .js,.jsx, prettier --write --log-level warn

fix: ignore for the moment pre-commit
  .husky/pre-commit
Due: none

feat(Routes): Routes v1 for tasks and projects created
  routes/web.php
Due: none

fix(migrations): fixed and error on filters table and created project trigger
  database/migrations/2025_03_06_181839_create_filters_table.php
  database/migrations/2025_03_09_140529_create_user_project_trigger.php
Due: none

feat(Models): Models created, need to fill it
  app/Models/Comment.php
  app/Models/Filter.php
  app/Models/Project.php
  app/Models/Section.php
  app/Models/Task.php
  app/Models/TaskFilter.php
Due: none

feat(Controllers): Controllers and its method created, need to fill it
  app/Http/Controllers/ProjectController.php
  app/Http/Controllers/SectionController.php
  app/Http/Controllers/TaskController.php
Due: none

feat(Route): Route home moved to auth middleware group
  routes/web.php
Due: none

feat(Auth manage): Auth components moved to a new directory and refactor Auth Controllers to redirect to home
  app/Http/Controllers/Auth/AuthenticatedSessionController.php
  app/Http/Controllers/Auth/ConfirmablePasswordController.php
  app/Http/Controllers/Auth/EmailVerificationNotificationController.php
  app/Http/Controllers/Auth/EmailVerificationPromptController.php
  app/Http/Controllers/Auth/NewPasswordController.php
  app/Http/Controllers/Auth/PasswordController.php
  app/Http/Controllers/Auth/PasswordResetLinkController.php
  app/Http/Controllers/Auth/RegisteredUserController.php
  app/Http/Controllers/Auth/VerifyEmailController.php
  resources/js/Pages/Auth/ConfirmPassword.jsx
  resources/js/modules/auth/pages/ConfirmPassword.jsx
  resources/js/modules/auth/pages/ForgotPassword.jsx
  resources/js/modules/auth/pages/Login.jsx
  resources/js/modules/auth/pages/Register.jsx
  resources/js/modules/auth/pages/ResetPassword.jsx
  resources/js/modules/auth/pages/VerifyEmail.jsx
Due: eslint --fix --ext .js,.jsx

feat(migrations,factory,models): created project factory and seeder. fill first implementation of models
  app/Models/Comment.php
  app/Models/Filter.php
  app/Models/Project.php
  app/Models/Task.php
  app/Models/TaskFilter.php
  app/Models/User.php
  database/factories/ProjectFactory.php
  database/migrations/2025_03_09_140529_create_user_project_trigger.php
  database/seeders/DatabaseSeeder.php
  database/seeders/ProjectSeeder.php
  database/seeders/UserSeeder.php
Due: none

fix(migrations): id removed from some tables and made some fields nullable
  database/migrations/2025_03_06_180219_create_projects_table.php
  database/migrations/2025_03_06_180834_create_tasks_table.php
  database/migrations/2025_03_06_182618_create_project_members_table.php
  database/migrations/2025_03_06_182948_create_task_collaborators_table.php
  database/migrations/2025_03_06_183223_create_task_filters_table.php
Due: none

fix(models): created_at removed from some models
  app/Models/Comment.php
  app/Models/Filter.php
  app/Models/Project.php
  app/Models/Task.php
Due: none

fix(Task): remove project_id relation with project table in model and migration
  app/Models/Task.php
  database/migrations/2025_03_06_180834_create_tasks_table.php
Due: none

feat(section): add relation between task and project
  app/Models/Project.php
  app/Models/Section.php
  app/Models/Task.php
Due: none

feat(Controllers): Store methods created in all controllers
  app/Http/Controllers/ProjectController.php
  app/Http/Controllers/SectionController.php
  app/Http/Controllers/TaskController.php
  app/Models/Project.php
  app/Models/Section.php
  app/Models/Task.php
Due: none

feat(Controllers): Project index and responsables and project list methods created
  app/Http/Controllers/ProjectController.php
  app/Http/Controllers/TaskController.php
  app/Http/Resources/IndexProjectsResource.php
  app/Http/Resources/ResponsibleResource.php
Due: none

fix(auth): modicated register and login view
  package-lock.json
  package.json
  resources/js/Layouts/GuestLayout.jsx
  resources/js/lib/utils.js
  resources/js/modules/auth/pages/Login.jsx
  resources/js/modules/auth/pages/Register.jsx
  resources/js/shared/components/BackgroundBeams.jsx
  resources/js/shared/components/NavBar.jsx
  resources/js/shared/layouts/AuthLayout.jsx
  tailwind.config.js
Due: eslint --fix --ext .js,.jsx, prettier --write --log-level warn

refac(authComponents): moved components to a new folder
  resources/js/Components/Checkbox.jsx
Due: eslint --fix --ext .js,.jsx

refact(guesstLayout): moved layot to new shared folder
  resources/js/Pages/Dashboard.jsx
  resources/js/Pages/Profile/Edit.jsx
  resources/js/Pages/Profile/Partials/DeleteUserForm.jsx
  resources/js/Pages/Profile/Partials/UpdatePasswordForm.jsx
  resources/js/Pages/Profile/Partials/UpdateProfileInformationForm.jsx
  resources/js/modules/auth/components/Checkbox.jsx
  resources/js/modules/auth/components/InputError.jsx
  resources/js/modules/auth/components/InputLabel.jsx
  resources/js/modules/auth/components/TextInput.jsx
  resources/js/modules/auth/pages/ConfirmPassword.jsx
  resources/js/modules/auth/pages/ForgotPassword.jsx
  resources/js/modules/auth/pages/Login.jsx
  resources/js/modules/auth/pages/Register.jsx
  resources/js/modules/auth/pages/ResetPassword.jsx
  resources/js/shared/layouts/AuthenticatedLayout.jsx
Due: eslint --fix --ext .js,.jsx

feat(AuthLayout): created aside project view
  resources/js/shared/icons/Add.jsx
  resources/js/shared/icons/ArrowDown.jsx
  resources/js/shared/icons/ArrowUp.jsx
  resources/js/shared/layouts/AuthLayout.jsx
Due: eslint --fix --ext .js,.jsx

fix(vercel): pgsql added to vercel.json
  vercel.json
Due: prettier --write --log-level warn

fix(migrations): assigned to made nullable
  database/migrations/2025_03_06_180834_create_tasks_table.php
Due: none

fix(migrations): trigger updated to support mysql
  database/migrations/2025_03_09_140529_create_user_project_trigger.php
Due: none

fix(ptojectTrigger): add timeStamp column
  database/migrations/2025_03_09_140529_create_user_project_trigger.php
Due: none

fix(models): add timestamp call to pivot table
  app/Models/Project.php
  app/Models/User.php
  database/factories/ProjectFactory.php
  database/seeders/ProjectSeeder.php
  database/seeders/UserSeeder.php
Due: none

feat(Tasks): created fake task data
  database/factories/TaskFactory.php
  database/migrations/2025_03_12_115339_create_section_trigger.php
  database/seeders/DatabaseSeeder.php
  database/seeders/TaskSeeder.php
Due: none

feat(layout): add projects to auth layout
  app/Http/Middleware/HandleInertiaRequests.php
  resources/js/shared/layouts/AuthLayout.jsx
Due: eslint --fix --ext .js,.jsx

feat(projects): how view added and its controller refactored too
  app/Http/Controllers/ProjectController.php
  app/Http/Resources/ProjectShowResource.php
  resources/js/modules/projects/pages/Project.jsx
  resources/js/shared/components/CardNav.jsx
Due: eslint --fix --ext .js,.jsx

feat(factory, seeder) comment factory and seeder created and updated project seeder too
  database/factories/CommentFactory.php
  database/seeders/CommentSeeder.php
  database/seeders/DatabaseSeeder.php
  database/seeders/ProjectSeeder.php
Due: none

refactor(directory):refactor projects directory to projects_and_tasks
  app/Http/Controllers/ProjectController.php
  resources/js/modules/projects_and_tasks/pages/Project.jsx
Due: eslint --fix --ext .js,.jsx

feat(tasks): edit tasks controller made
  app/Http/Controllers/TaskController.php
  app/Http/Resources/CommentResource.php
  app/Http/Resources/TaskResource.php
  app/Http/Resources/UserResource.php
Due: none

refactor(tasks): refactor tasks controller to show project information too
  app/Http/Controllers/ProjectController.php
  resources/js/modules/projects/pages/Project.jsx
Due: eslint --fix --ext .js,.jsx

feat(Home): show user projects and basic information about the user
  resources/js/Components/Avatar.jsx
  resources/js/modules/home/pages/Home.jsx
  resources/js/shared/components/CardNav.jsx
  resources/js/shared/components/Header.jsx
  resources/js/shared/layouts/AuthLayout.jsx
Due: eslint --fix --ext .js,.jsx

feat(task): set my tasks proyect route correctly
  app/Http/Middleware/HandleInertiaRequests.php
  app/Http/Resources/IndexProjectsResource.php
  database/migrations/2025_03_06_180219_create_projects_table.php
  database/migrations/2025_03_09_140529_create_user_project_trigger.php
  resources/js/shared/layouts/AuthLayout.jsx
Due: eslint --fix --ext .js,.jsx

feat(dropdown): project dropdown animation made
  resources/js/shared/layouts/AuthLayout.jsx
Due: eslint --fix --ext .js,.jsx

Path conditions:
  eslint --fix --ext .js,.jsx: any of: *.{js,jsx}
  prettier --write --log-level warn: any of: *.{json,css,scss,md,html}
  php -l: any of:  *.php'
